slave.cnf: |-
[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
default-character-set=utf8

[mysql]
default-character-set=utf8
[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
nice=0
[mysqld]
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql
explicit_defaults_for_timestamp
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8
log-error=/var/log/mysql/error.log
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
open_files_limit=16384
max_connections=100000
symbolic-links=0
super-read-only
